html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

h2{
    margin: 0;
    font-size: 1rem;
}

.test-content{
    padding: 1.5rem;
    min-height: 1000px;
}
.test-content[data-hidden="true"]{
    display: none;
}
    
.actions{
    position: fixed; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background: #666;
    font-size: 14px;
    color: #fff;
}
.actions fieldset{
    border-left: none;
    border-right: none;
    border-bottom: none;
}